body {
  background-color: black;
  display: flex;
  justify-content: center
}
body::-webkit-scrollbar {
  display: none;
}
#three{
  width: 100%;
  height: 100%;
}

/* ----- LABELS ------*/

.label{
  color : white;
  font-family:'Roboto';
  font-weight: '100';
}
.hidden{
  display:none;
}
/*------- UI --------*/

#distance-counter{
  font-family: 'roboto';
  position: absolute;
  bottom: 20px;
  text-align: center;
  color : white;
  padding: 0 10px 0 10px;
}
#counter-target-name{
  line-height: 0;
  font-size: 3em;
  margin : 0.75em;
  font-family: 'roboto';
  font-weight: 800;
  text-transform: uppercase;
}

#is-travelling{
  color: white;
  font-family: 'roboto';
  
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}